@model FirstMVC.Models.cfgCategory

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>cfgCategory</h4>
            <hr />
            @Html.ValidationSummary(true)
    
            <div class="form-group">
                @Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Name)
                    @Html.ValidationMessageFor(model => model.Name)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Icon, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Icon)
                    @Html.ValidationMessageFor(model => model.Icon)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Remark, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Remark)
                    @Html.ValidationMessageFor(model => model.Remark)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ParentId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ParentId)
                    @Html.ValidationMessageFor(model => model.ParentId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.ParentIdList, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ParentIdList)
                    @Html.ValidationMessageFor(model => model.ParentIdList)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Sort, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Sort)
                    @Html.ValidationMessageFor(model => model.Sort)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.State, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.State)
                    @Html.ValidationMessageFor(model => model.State)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateById, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateById)
                    @Html.ValidationMessageFor(model => model.CreateById)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateBy, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateBy)
                    @Html.ValidationMessageFor(model => model.CreateBy)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.CreateDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.CreateDate)
                    @Html.ValidationMessageFor(model => model.CreateDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UpdateById, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateById)
                    @Html.ValidationMessageFor(model => model.UpdateById)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UpdateBy, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateBy)
                    @Html.ValidationMessageFor(model => model.UpdateBy)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.UpdateDate, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UpdateDate)
                    @Html.ValidationMessageFor(model => model.UpdateDate)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BelongId, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BelongId)
                    @Html.ValidationMessageFor(model => model.BelongId)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.BelongIds, new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.BelongIds)
                    @Html.ValidationMessageFor(model => model.BelongIds)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
